USE [master]
GO
/****** Object:  Database [BHOL]    Script Date: 6/30/2022 9:40:05 PM ******/
CREATE DATABASE [BHOL]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BHOL', FILENAME = N'/Users/daotnguyen/Mssql/Data/BHOL.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BHOL_log', FILENAME = N'/Users/daotnguyen/Mssql/Data/BHOL_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BHOL].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BHOL]
GO
USE [BHOL]
GO
/****** Object:  Table [dbo].[BankAccount]    Script Date: 6/30/2022 9:40:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BankAccount](
	[id_bankaccount] [varchar](36) NOT NULL,
	[account_no] [varchar](50) NULL,
	[account_name] [nvarchar](256) NULL,
	[bank_name] [nvarchar](50) NULL,
	[bank_branch] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_bankaccount] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Branch]    Script Date: 6/30/2022 9:40:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Branch](
	[id_branch] [varchar](36) NOT NULL,
	[id_partner] [varchar](36) NOT NULL,
	[name_branch] [nvarchar](100) NULL,
	[created_date] [datetime] NULL,
	[created_by] [int] NULL,
	[modified_date] [datetime] NULL,
	[modified_by] [int] NULL,
	[status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_branch] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contract]    Script Date: 6/30/2022 9:40:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contract](
	[id_contract] [varchar](36) NOT NULL,
	[id_employee] [varchar](36) NOT NULL,
	[id_partner] [varchar](36) NOT NULL,
	[representation] [nvarchar](100) NULL,
	[tax_code_partner] [varchar](50) NULL,
	[number_of_registered_branch] [int] NULL,
	[effective_time] [datetime] NULL,
	[commission_percentage] [float] NULL,
	[activation_fee] [float] NULL,
	[status] [int] NULL,
	[created_date] [datetime] NULL,
	[created_by] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_contract] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[City]    Script Date: 6/30/2022 9:40:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[id_city] [varchar](36) NOT NULL,
	[city_name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_city] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[District]    Script Date: 6/30/2022 9:40:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[District](
	[id_district] [varchar](36) NOT NULL,
	[district_name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_district] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeliveryAddress]    Script Date: 6/30/2022 9:40:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeliveryAddress](
	[id_deliveryaddress] [varchar](36) NOT NULL,
	[id_user] [varchar](36) NOT NULL,
	[city] [nvarchar](50) NULL,
	[district] [nvarchar](50) NULL,
	[detail] [nvarchar](256) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_deliveryaddress] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HomeAddress]    Script Date: 6/30/2022 9:40:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HomeAddress](
	[id_user] [varchar](36) NOT NULL,
	[city] [nvarchar](50) NOT NULL,
	[district] [nvarchar](50) NOT NULL,
	[detail] [nvarchar](256) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_user] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BranchAddress]    Script Date: 6/30/2022 9:40:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BranchAddress](
	[id_branch] [varchar](36) NOT NULL,
	[city] [nvarchar](50) NOT NULL,
	[district] [nvarchar](50) NOT NULL,
	[detail] [nvarchar](256) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_branch] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 6/30/2022 9:40:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[id_employee] [varchar](36) NOT NULL,
	[id_group] [varchar](36) NOT NULL,
	[id_role] [varchar](36) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_employee] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Group]    Script Date: 6/30/2022 9:40:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Group](
	[id_group] [varchar](36) NOT NULL,
	[name_group] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_group] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Driver]    Script Date: 6/30/2022 9:40:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Driver](
	[id_driver] [varchar](36) NOT NULL,
	[id_bankaccount] [varchar](36) NOT NULL,
	[id_card] [varchar](50) NOT NULL,
	[license_plates] [varchar](50) NULL,
	[working_city] [nvarchar](50) NOT NULL,
	[working_district] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_driver] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 6/30/2022 9:40:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[id_order] [varchar](36) NOT NULL,
	[id_partner] [varchar](36) NOT NULL,
	[id_pay] [varchar](36) NOT NULL,
	[id_buyer] [varchar](36) NOT NULL,
	[id_deliveryaddress] [varchar](36) NOT NULL,
	[status_order] [int] NULL,
	[cost_order] [float] NULL,
	[cost_transport] [float] NULL,
	[sumcost] [float] NULL,
	[is_handler] [bit] NULL,
	[created_date] [datetime] NULL,
	[modified_date] [datetime] NULL,
PRIMARY KEY CLUSTERED
(
	[id_order] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 6/30/2022 9:40:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[id_orderdetail] [varchar](36) NOT NULL,
	[id_order] [varchar](36) NOT NULL,
	[id_product] [varchar](36) NOT NULL,
	[quantity] [int] NULL,
	[price] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_orderdetail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Partner]    Script Date: 6/30/2022 9:40:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Partner](
	[id_partner] [varchar](36) NOT NULL,
	[name_partner] [nvarchar](100) NULL,
	[representation] [nvarchar](100) NULL,
	[number_of_branch] [int] NULL,
	[number_order_of_day] [int] NULL,
	[product_shipping] [ntext] NULL,
	[tax_code] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_partner] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pay]    Script Date: 6/30/2022 9:40:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pay](
	[id_pay] [varchar](36) NOT NULL,
	[name_pay] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_pay] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 6/30/2022 9:40:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[id_product] [varchar](36) NOT NULL,
	[id_branch] [varchar](36) NOT NULL,
	[id_partner] [varchar](36) NOT NULL,
	[name_product] [nvarchar](100) NULL,
	[name_category] [nvarchar](100) NOT NULL,
	[describe] [ntext] NULL,
	[quantity] [int] NOT NULL,
	[price] [float] NOT NULL,
	[created_date] [datetime] NULL,
	[created_by] [int] NULL,
	[modified_date] [datetime] NULL,
	[modified_by] [int] NULL,
	[status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_product] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 6/30/2022 9:40:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[id_category] [varchar](36) NOT NULL,
	[name_category] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_category] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 6/30/2022 9:40:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[id_role] [varchar](36) NOT NULL,
	[name_role] [nvarchar](100) NULL,
	[can_edit_data] [bit] NULL,
	[can_edit_user] [bit] NULL,
	[can_manage_ui] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_role] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 6/30/2022 9:40:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[id_user] [varchar](36) NOT NULL,
	[username] [varchar](100) NOT NULL,
	[password] [varchar](36) NOT NULL,
	[phone_number] [varchar](18) NOT NULL,
	[dob] [datetime] NULL,
	[email] [varchar](100) NULL,
	[is_employee] [bit] NOT NULL DEFAULT 0,
	[is_driver] [bit] NOT NULL DEFAULT 0,
	[is_partner] [bit] NOT NULL DEFAULT 0,
	[status] [int] NULL,
	[created_date] [datetime] NULL,
	[created_by] [varchar](36) NULL,
	[modified_date] [datetime] NULL,
	[modified_by] [varchar](36) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_user] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Branch]  WITH CHECK ADD  CONSTRAINT [Fk_Branch_Partner] FOREIGN KEY([id_partner])
REFERENCES [dbo].[Partner] ([id_partner])
GO
ALTER TABLE [dbo].[Branch] CHECK CONSTRAINT [Fk_Branch_Partner]
GO
ALTER TABLE [dbo].[Contract]  WITH CHECK ADD  CONSTRAINT [Fk_Contract_Employee] FOREIGN KEY([id_employee])
REFERENCES [dbo].[Employee] ([id_employee])
GO
ALTER TABLE [dbo].[Contract] CHECK CONSTRAINT [Fk_Contract_Employee]
GO
ALTER TABLE [dbo].[Contract]  WITH CHECK ADD  CONSTRAINT [Fk_Contract_Partner] FOREIGN KEY([id_partner])
REFERENCES [dbo].[Partner] ([id_partner])
GO
ALTER TABLE [dbo].[Contract] CHECK CONSTRAINT [Fk_Contract_Partner]
GO
ALTER TABLE [dbo].[DeliveryAddress]  WITH CHECK ADD  CONSTRAINT [Fk_DeliveryAddress_User] FOREIGN KEY([id_user])
REFERENCES [dbo].[User] ([id_user])
GO
ALTER TABLE [dbo].[DeliveryAddress] CHECK CONSTRAINT [Fk_DeliveryAddress_User]
GO
ALTER TABLE [dbo].[HomeAddress]  WITH CHECK ADD  CONSTRAINT [Fk_HomeAddress_User] FOREIGN KEY([id_user])
REFERENCES [dbo].[User] ([id_user])
GO
ALTER TABLE [dbo].[HomeAddress] CHECK CONSTRAINT [Fk_HomeAddress_User]
GO
ALTER TABLE [dbo].[BranchAddress]  WITH CHECK ADD  CONSTRAINT [Fk_BranchAddress_Branch] FOREIGN KEY([id_branch])
REFERENCES [dbo].[Branch] ([id_branch])
GO
ALTER TABLE [dbo].[BranchAddress] CHECK CONSTRAINT [Fk_BranchAddress_Branch]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [Fk_Employee_Group] FOREIGN KEY([id_group])
REFERENCES [dbo].[Group] ([id_group])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [Fk_Employee_Group]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [Fk_Employee_Role] FOREIGN KEY([id_role])
REFERENCES [dbo].[Role] ([id_role])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [Fk_Employee_Role]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [Fk_Employee_User] FOREIGN KEY([id_employee])
REFERENCES [dbo].[User] ([id_user])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [Fk_Employee_User]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [Fk_Order_DeliveryAddress] FOREIGN KEY([id_deliveryaddress])
REFERENCES [dbo].[DeliveryAddress] ([id_deliveryaddress])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [Fk_Order_DeliveryAddress]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [Fk_Order_Partner] FOREIGN KEY([id_partner])
REFERENCES [dbo].[Partner] ([id_partner])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [Fk_Order_Partner]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [Fk_Order_Pay] FOREIGN KEY([id_pay])
REFERENCES [dbo].[Pay] ([id_pay])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [Fk_Order_Pay]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [Fk_Order_User] FOREIGN KEY([id_buyer])
REFERENCES [dbo].[User] ([id_user])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [Fk_Order_User]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [Fk_OrderDetail_Order] FOREIGN KEY([id_order])
REFERENCES [dbo].[Order] ([id_order])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [Fk_OrderDetail_Order]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [Fk_Product_Branch] FOREIGN KEY([id_branch])
REFERENCES [dbo].[Branch] ([id_branch])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [Fk_Product_Branch]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [Fk_Product_Partner] FOREIGN KEY([id_partner])
REFERENCES [dbo].[Partner] ([id_partner])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [Fk_Product_Partner]
GO
ALTER TABLE [dbo].[Driver]  WITH CHECK ADD  CONSTRAINT [Fk_Driver_User] FOREIGN KEY([id_driver])
REFERENCES [dbo].[User] ([id_user])
GO
ALTER TABLE [dbo].[Driver] CHECK CONSTRAINT [Fk_Driver_User]
GO
ALTER TABLE [dbo].[Partner]  WITH CHECK ADD  CONSTRAINT [Fk_Partner_User] FOREIGN KEY([id_partner])
REFERENCES [dbo].[User] ([id_user])
GO
ALTER TABLE [dbo].[Partner] CHECK CONSTRAINT [Fk_Partner_User]
GO
USE [master]
GO
